
.thin-white-border {
  border-width: 5px;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
