h1, #Otsikko1, h2, #Otsikko2, h2, #Otsikko3, h3, #Otsikko4, h4, #Otsikko5 {
  color: purple;
  font-size: 50px;
  font-family: 'Indie Flower';
}
body {
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-size: 20px;
}
body {
  background-color: black;
}
#kpl1 {
  color: grey;
  font-size: 10px;
  font-family: "Patrick Hand", bold;
}
#eka {
  float: right;
}
#toka {
  clear: both;
}
